Application Details
What does your application do? Please be as detailed as possible, and feel free to include links to image or video examples.
My Application is a multi-purpose discord bot which aims to different in a bot universe. SyncMe has a wide variety of commands such as Music (Soon), Fun, Games, utility! Simply add SyncMe and let your members enjoy your server even more.

Data Collection
Tell us more about the data you store and process from Discord.

WHAT DISCORD DATA DO YOU STORE?

My application stores: guild_id, user_id, user_name as part of message content logging.

DO YOU STORE MESSAGE CONTENT?
FOR WHAT PURPOSE(S) DO YOU STORE THE INFORMATION YOU COLLECT?

I dont store any user data we just logs the required information to our public discord server channels, like if the bot joins any new guild it will logs the information to that requested channel of the server.

FOR HOW LONG DO YOU STORE IT?



WHAT IS THE PROCESS FOR USERS TO REQUEST DELETION OF THEIR DATA?

User can join our support server or directly dm me to get assisted on the data deletion or what other action they want.

Infrastructure
Tell us more about your application's infrastructure and your team's security practices.

HOW DO YOU HOST YOUR BOT?

My bot is hosted on a paid host as a nodejs application and i pay them monthly for it

WHAT LANGUAGE OR LIBRARY WAS YOUR BOT WRITTEN WITH?

My code is coded in JavaScript and using discord.js nodejs library.

HOW DO YOU KEEP YOUR BOT SECURE?

My account is secured with 2FA autorization and no one can login to my account and bot files are secured on the vps with ssh only i can access the vps and access them. And keep bot secure by regularly updating it.

HOW CAN USERS CONTACT YOU WITH SECURITY CONCERNS AND OTHER QUESTIONS REGARDING YOUR BOT?
Privileged Gateway Intents
Some Gateway Intents require approval if your bot is verified. If your bot is not verified, you can toggle those intents below to access them.

WHICH INTENTS ARE YOU APPLYING FOR, IF ANY? (LEAVE BLANK IF YOU DO NOT NEED ANY OF THESE)
